@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

@tailwind base;
@tailwind components;
@tailwind utilities;

.elipsis {
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.popularity {
    color: greenyellow !important;
    text-align: center;
}

.font {
    font-family: "Roboto Mono", serif;
}

.titulo-film {
    font-size: 20px;
}

.back {
    padding: 1em 1.3em
}

.front {
    background-image: url("https://es.123rf.com/photo_44829787_dise%C3%B1o-web-sobre-fondo-negro.html");
}

.flip {
    position: relative;
}

.flip > .front,
.flip > .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
    transition-property: transform, opacity;
}

.flip > .front {
    transform: rotateY(0deg);
}

.flip > .back {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
}

.flip:hover > .front {
    transform: rotateY(180deg);
}

.flip:hover > .back {
    opacity: 1;
    transform: rotateY(0deg);
}

.flip.flip-vertical > .back {
    transform: rotateX(-180deg);
}

.flip.flip-vertical:hover > .front {
    transform: rotateX(180deg);
}

.flip.flip-vertical:hover > .back {
    transform: rotateX(0deg);
}

.flip {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 400px;
}

.flip > .front,
.flip > .back {
    display: block;
    color: white;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 220px;
    /* padding: 1em 1.3em;*/
    background: #313131;
    border-radius: 10px;
}

.flip > .front p,
.flip > .back p {
    font-size: 0.9125rem;
    line-height: 160%;
    color: #999;
}

.text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}


.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-0.5rem);
}

.formulario {
    width: 300px;
}

.imagen-carousel {
    height: 250px;
}

.fondo {
    width: 2500px;
    height: 800px;
}

.carousel-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-cards {
    position: relative;
    width: 60vw;
    height: 40vw;
    display: flex;
    align-items: center;
    max-width: 380px;
    max-height: 250px;
    margin: 0;
    padding: 0;
    color: white;
    perspective: 1000px;
    transform-origin: center;
}

.icon-cards__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    -webkit-animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
    animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.icon-cards__content.step-animation {
    -webkit-animation: carousel 8s infinite steps(1) forwards;
    animation: carousel 8s infinite steps(1) forwards;
}

.icon-cards__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transform-origin: center;
}

.icon-cards__item:nth-child(1) {
    background: #fdd94f;
    transform: rotateY(0) translateZ(35vw);
}

.icon-cards__item:nth-child(2) {
    background: #f87949;
    transform: rotateY(120deg) translateZ(35vw);
}

.icon-cards__item:nth-child(3) {
    background: #fbab48;
    transform: rotateY(240deg) translateZ(35vw);
}

@-webkit-keyframes carousel {
    0%, 17.5% {
        transform: translateZ(-35vw) rotateY(0);
    }
    27.5%, 45% {
        transform: translateZ(-35vw) rotateY(-120deg);
    }
    55%, 72.5% {
        transform: translateZ(-35vw) rotateY(-240deg);
    }
    82.5%, 100% {
        transform: translateZ(-35vw) rotateY(-360deg);
    }
}

@keyframes carousel {
    0%, 17.5% {
        transform: translateZ(-35vw) rotateY(0);
    }
    27.5%, 45% {
        transform: translateZ(-35vw) rotateY(-120deg);
    }
    55%, 72.5% {
        transform: translateZ(-35vw) rotateY(-240deg);
    }
    82.5%, 100% {
        transform: translateZ(-35vw) rotateY(-360deg);
    }
}


@-webkit-keyframes jelly {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}

@keyframes jelly {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}


.text-shadow {
    text-shadow: 2px 2px #000;
    color: orange;
}

.h {
    min-height: 1000px;
}

.col.m {
    margin: 10px;
    padding: 0;
}

.boton {
    flex: 1 1 auto;
    margin: 10px;
    padding: 20px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    letter-spacing: 2px;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 16px 38px -12px rgba(125, 125, 125, 0.56), 0 4px 25px 0 rgba(125, 125, 125, 0.2), 0 8px 10px -5px rgba(125, 125, 125, 0.2);
    font-weight: 500;
}

.boton:hover {
    background-position: top center; /* change the direction of the change here */
    box-shadow: none;
    letter-spacing: 1px;
}

.btn-1 {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.btn-2 {
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.btn-3 {
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
    padding-bottom: 20px;
    padding-top: 20px;
}


.parrafo {
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    /*border: 4px double rgba(255, 255, 255, .25);*/

    padding: 1.5em 0;
    /*   top: 18%;
       left: 50%;*/
    width: 40em;
}

.parrafo span {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);

    /* Clip Background Image */

    background: url("https://static.vecteezy.com/system/resources/previews/002/176/076/non_2x/realistic-yellow-orange-watercolor-panoramic-texture-on-a-white-background-vector.jpg") repeat-y;
    -webkit-background-clip: text;
    /*background-clip: text;*/

    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;

    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

